<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Crud Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>
  <body>
    <header>
      <section>
        <h1>intelly</h1>
        <nav>
          <label for="show-menu">
            <span class="icon-menu3"></span>
          </label>
          <input type="checkbox" id="show-menu">
          <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#/">Blog</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Shortcodes</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <section class="hero-box"> <!-- hero-box -->
      <h1>Blog</h1>
      <p>The secular cooling that must someday overtake our planet has already gone far indeed with our neighbour. Its physical condition is still largely a mystery, but we know now that even in its equatorial</p>
    </section> <!-- ends hero-box -->
    <nav class="secondary-nav">
      <div class="secondary-nav__justify-L">
        <a href="#/">Home</a>
        <a href="#/">Blog</a>
      </div>
      <div class="secondary-nav__justify-R">
        <p>Share</p>
        <a href="http://www.twitter.com" class="icon-twitter secondary-nav__icon"></a>
        <a href="http://www.facebook.com" class="icon-facebook secondary-nav__icon"></a>
        <a href="https://plus.google.com/" class="icon-google-plus secondary-nav__icon"></a>
        <a href="http://www.pinterest.com" class="icon-pinterest secondary-nav__icon"></a>
      </div>
    </nav><!-- end sec-nav -->
    <main ng-view></main>

    <script src="/assets/node_modules/angular/angular.js"></script>
    <script src="/assets/node_modules/angular-route/angular-route.js"></script>
    <!-- <script src="/assets/js/app.packed.js"></script> -->
    <script src="/assets/js/app/app.js"></script>

    <script src="/assets/js/app/posts/posts.service.js"></script>
    <script src="/assets/js/app/posts/posts.ctrl.js"></script>
    <script src="/assets/js/app/posts/post.ctrl.js"></script>
    <script src="/assets/js/app/posts/post_form.ctrl.js"></script>
    <!-- <script src="/assets/js/app/posts/post_details.directive.js"></script> -->

    <!-- templates -->
    <script type="text/ng-template" id="partials/posts/posts_list.html">
      <div class="previews">
        <article ng-repeat="post in vm.posts">
          <h1>{{post.title}}</h1>
          <p>{{post.content | limitTo: 370}}</p>
          <div class="post-data">
            <ul>
              <li>By {{post.author}}</li>
              <li>{{post.date}}</li>
              <li>{{post.comments}} comments</li>
            </ul>
            <a class="btn btn__text btn--dark" href="#/posts/{{post._id}}">Read More</a>
          </div>
          <button ng-click="vm.delete(post)">(delete this post)</button>
        </article>
        <a class="btn btn__text btn--light" href="#/posts/new">Add a new post</a>
      </div>
    </script>

    <script type="text/ng-template" id="partials/posts/post_detail.html">
      <!-- <pre>{{vm.post|json}}</pre> -->
      <h1>{{vm.post.title}}</h1>
      <p>{{vm.post.author}}</p>
      <post-details ng-model="vm.post"/> <!-- postDetails -->
      
      <p>{{vm.post.content}}</p>
      <ul><li>Published: {{vm.post.date}}</li><li>{{vm.post.comments}} comments</li></ul>

      <a href="#/posts/{{vm.post._id}}/edit">Edit post</a>
    </script>

    <script type="text/ng-template" id="partials/posts/post_form.html">
      <form id="post-form" ng-submit="vm.save()">
        <input type="text" ng-model="vm.post.title" placeholder="Title" />
        <input type="text" ng-model="vm.post.author" placeholder="Author" />
        <input type="text" ng-model="vm.post.date" placeholder="Date" />
        <textarea ng-model="vm.post.content" form="post-form" rows="10" cols="50">Write something here</textarea>
        <input type="number" ng-model="vm.post.comments" placeholder="how many comments" />
        <input type="submit" name="Submit">
      </form>
    </script>

    <section class="feature-box"> <!-- feature-box -->
      <h1>Serene in their assurance of their empire over matter</h1>
      <p>No one would have believed in the last years of the nineteenth century that this world was being watched keenly and closely by intelligences greater than man’s and yet as more</p>
      <a class="btn btn__text btn--theme">Contact Now</a>
      <a class="btn btn__text btn--theme">Learn More</a>
    </section> <!--  end feature-box -->
    <aside class="contact"> <!-- cntact -->
      <address class="contact__method"><a href="https://goo.gl/maps/C4Q1FUpTdJx">2319 Hilltop Haven Drive<br />Upper Greenwood Lake, NJ 07421</a></address>
      <div class="contact__method">
        <a href="tel:6624076792">662-407-6792</a>
        <a href="mailto:contact@intell.com">contact@intell.com</a>
      </div>
      <div class="contact__method">
        <a href="https://twitter.com/" class="connection-links connection-links__text">
          <span class="icon-twitter connection-links__icon"></span>Follow Us
        </a>
        <a href="https://www.facebook.com/" class="connection-links connection-links__text">
          <span class="icon-facebook connection-links__icon"></span>Like Us
        </a>
        <a href="https://www.linkedin.com/" class="connection-links connection-links__text">
          <span class="icon-linkedin connection-links__icon"></span>Connect
        </a>
      </div>
    </aside> <!-- ends contact -->
    <footer>
      <p>&#169 Intelly LLC</p>
      <ul>
        <li>Terms of use</li>
        <li>Privacy Policy </li>
        <li>Contact</li>
        <li>Support</li>
      </ul>
    </footer>
  </body>
</html>
