<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Crud Blog</title>
    <link rel="stylesheet" href="/assets/styles/app.css">




    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header class="site-header">
      <h1>Blog</h1>
      <nav>
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>

    <main ng-view></main>

    <script src="/assets/node_modules/angular/angular.js"></script>
    <script src="/assets/node_modules/angular-route/angular-route.js"></script>
    <!-- <script src="/assets/js/app.packed.js"></script> -->
    <script src="/assets/js/app/app.js"></script>

    <script src="/assets/js/app/posts/posts.service.js"></script>
    <script src="/assets/js/app/posts/posts.ctrl.js"></script>
    <script src="/assets/js/app/posts/post.ctrl.js"></script>
    <script src="/assets/js/app/posts/post_form.ctrl.js"></script>
    <!-- <script src="/assets/js/app/posts/post_details.directive.js"></script> -->

    <!-- templates -->
    <script type="text/ng-template" id="partials/posts/posts_list.html">
      <h1>List of posts!</h1>
      <ul>
        <li ng-repeat="post in vm.posts">
          <a href="#/posts/{{post._id}}">{{post.title}}</a> (<button ng-click="vm.delete(post)">Delete</button>)
        </li>
      </ul>
      <a href="#/posts/new">Add a new post</a>
    </script>

    <script type="text/ng-template" id="partials/posts/post_detail.html">
      <!-- <pre>{{vm.post|json}}</pre> -->
      <h1>{{vm.post.title}}</h1>
      <p>{{vm.post.author}}</p>
      <post-details ng-model="vm.post"/> <!-- postDetails -->
      
      <p>{{vm.post.content}}</p>
      <ul><li>Published: {{vm.post.date}}</li><li>{{vm.post.comments}} comments</li></ul>

      <a href="#/posts/{{vm.post._id}}/edit">Edit post</a>
    </script>

    <script type="text/ng-template" id="partials/posts/post_form.html">
      <form ng-submit="vm.save()">
        <input type="text" ng-model="vm.post.title" placeholder="Title" />
        <input type="text" ng-model="vm.post.author" placeholder="Author" />
        <input type="text" ng-model="vm.post.date" placeholder="Date" />
        <input type="text" ng-model="vm.post.content" placeholder="Post text" />
        <input type="number" ng-model="vm.post.comments" placeholder="how many comments" />
        <input type="submit" name="Submit">
      </form>
    </script>
  </body>
</html>
