.contact {
  @include flex-container(row,wrap,space-between);
  padding: 2em 0;
  .connection-links {
    float: right;
    margin-left: 2em;
    color: blue;
    @include breaks(phone) {
      color: red;
      float: right;
    }
  }
}


// .sidebar {
//   width: 33.33%;
//   @include bp(baby-bear) {
//     width: 100%;
//   }
// }

.contact__method {
  a[href="tel:6624076792"],
  a[href="mailto:contact@intell.com"] {
    display: block;
    color: red;
  }
}
